{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greg Robertson</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

</head>
<body>
    <div class="container">
        <div class="main-menu">
            <ul class="main-menu-list">
                <li>
                    <a href="{% url 'resume' %}">Resume</a>
                </li>    
                <li>
                    <a href="{% url 'portfolio' %}">Portfolio</a>
                </li>    
                <li>
                    <a href="{% url 'skills' %}">Skills</a>
                </li>    
                <li>
                    <a href="">Blog</a>
                </li>    
                <li>
                    <a href="{% url 'contact' %}">Contact</a>
                </li>    
            </ul>
        </div>
        <div class="section-vcardbody">
            <div class="card-profile-pic">
				<img src="{% static 'img/profile2.jpg'%}">
			</div>
            <div class="vcard-profile-description">

				<h1 class="profile-title">Hi, i'm <span class="color1">Greg Robertson!</span></h1>
				<h2 class="profile-subtitle">Software Engineer</h2>

				<hr class="hr1">
				<div class="vcard-profile-description-text">
					<p>Full Stack Software Engineer with an emphasis of Python on the backend and Javascript on the front end.</p>
				</div>	

				<div class="vcard-profile-description-feature">

					<div class="vcard-profile-description-ft-item">
						<p>EMAIL: Grobertson743@gmail.com / PHONE 415 481 1610</p>
					</div>
				</div>		
			</div>
        </div>
    </div>

</body>
</html>