body {
    background-color: aquamarine;
    background: url(../img/bg3.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;

}

ul {
    list-style: none;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
    background: darkblue;
    background-color: darkblue;
}


a:active {
    text-decoration: none;
}

.main-menu {
    width: 15%;
    position: absolute;
    top: 0;
    left: 15%;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 46px;
    display: grid;
    justify-content: end;
}

.main-menu-list {
    padding: 40px;
}

.main-menu-list a {
    display: block;
    background: #08aeac;
    padding: 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    margin: 5px;


}

.card-profile-pic {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}


.card-profile-pic img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;

}

.section-vcardbody {
    position: absolute;
    margin-top: 40px;
    left: 30%;
    height: 570px;
    width: 40%;
    padding: 45px;
    padding-bottom: 20px;
    background: url(../img/bg-card2.png) repeat-x right top rgb(222, 184, 135);

}

.profile-title {
    justify-content: center;
    align-content: center;
}

.vcard-profile-description-feature {
    justify-content: center;
    align-content: center;
}